@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular-webfont.woff") format("woff"),
        url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "roboto-regular-condensed";
    src: url("../fonts/robotocondensed-variablefont_wght-webfont.woff") format("woff"),
        url("../fonts/robotocondensed-variablefont_wght-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto-light-webfont.woff") format("woff"),
        url("../fonts/roboto-light-webfont.woff2") format("woff2");
}

/* Estilos generales */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #FEFEFE;
    height: 100%;
    font-family: "roboto-regular";
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
}

.container-static {
    margin: 0;
    padding: 0;
}

#static-section,
#bootstrap-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: #FF4E88;
}

/* Estilos Navbar */
header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 4.395rem;
    background-color: #FEFEFE;
    opacity: 0.95;
    display: flex;
    align-items: center;
    z-index: 2;
}

#navbar {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.navbar-container {
    font-family: "roboto-regular";
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

li {
    margin: 0 3rem;
}

a {
    color: #474A56;
    text-decoration: none;
    font-size: 1.15rem;
}

/* Estilos sección home */
/* Estilos sección home presentación */
#home {
    display: flex;
    height: 36.16rem;
    align-items: end;
    width: 75rem;
}

#home-presentation-container,
#home-figure-container {
    width: 50%;
    height: 25rem;
}

#home h1,
#home h2 {
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
}

#home h2 {
    color: #BC8CF2;
    font-size: 4.8rem;
    height: 75%;
    flex-direction: column;
    justify-content: flex-start;
    font-family: sans-serif;
}

#home h1 {
    font-family: "roboto-regular-condensed";
    font-size: 1.25rem;
    height: 25%;
}

#diamonds-container-greeting {
    display: none;
}

/* Estilos sección home imagen */
#home-figure-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#diamonds-container-image {
    width: 400px;
    height: 400px;
    position: relative;
}

#cover-image {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.diamond {
    transform: rotate(45deg);
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(to bottom right,
            rgba(255, 228, 230, 0.9),
            /* Rosa muy claro */
            rgba(230, 204, 255, 0.9),
            /* Lila muy claro */
            rgba(204, 240, 255, 0.9)
            /* Celeste muy claro */
        );
}

#big-diamond-on-image {
    width: 140px;
    height: 140px;
    top: 50%;
    left: 100%;
    transform: translateX(-50%) rotate(45deg);
}

#medium-diamond-on-image {
    width: 100px;
    height: 100px;
    top: 30%;
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
}

#small-diamond-on-image {
    width: 50px;
    height: 50px;
    top: 0%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(45deg);
}

/* Estilos sección work */
#work {
    display: flex;
    flex-direction: column;
    height: 28.568rem;
    padding-top: 8.79rem;
    width: 75rem;
    justify-content: start;
}

/* Contenedor de titulo de sección work */
.line-title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
}

.line-title {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

#work-title-container {
    height: 15%;
}

#work-title {
    font-family: "roboto-regular";
    letter-spacing: 1px;
    color: #BC8CF2;
}

/* Contenedor de tarjetas sección work */
#work-projects-container {
    display: flex;
    justify-content: center;
    height: 75%;
    padding: 0 2rem;
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 1px solid #dee2e6;
    font-family: "roboto-light";
}

.project-card-figure,
.project-card-title,
.project-card-description,
.project-card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.project-card,
.project-card-figure,
.project-card-image {
    border-radius: 0.5rem;
}

.project-card-title,
.project-card-description,
.project-card-link {
    padding: 0 1rem;
    box-sizing: border-box;
}

.project-card-figure {
    height: 60%;
}

.project-card-image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.project-card-title {
    height: 10%;
    justify-content: end;
    font-family: sans-serif;
}

.project-card-description {
    height: 20%;
    box-sizing: border-box;
    font-family: "roboto-regular";
}

.project-card-link {
    height: 10%;
    font-size: small;
    text-decoration: underline;
    color: #FF4E88;
    font-weight: bold;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Estilos sección de intereses */
#hobbies {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 25.911rem;
    padding-top: 8.79rem;
    width: 75rem;
    gap: 0;
}

/* Estilos contenedor de texto sección intereses */
#hobbies-information-container {
    display: flex;
    flex-direction: column;
    height: 25.911rem;
    width: 40%;
    padding-right: 1rem;
}

#hobbies-introduction-container {
    height: 50%;
}

#hobbies-main-title-container {
    height: 20%;
    display: flex;
    align-items: start;
}

#hobbies-main-title {
    margin: 0;
    text-transform: lowercase;
    box-sizing: border-box;
    font-family: "roboto-light";
}

#hobbies span {
    text-transform: uppercase;
    font-family: "roboto-regular";
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

#hobbies-introduction-text-container {
    height: 70%;
}

#hobbies-introduction-text {
    height: 100%;
    margin: 0;
}

#clue {
    display: flex;
    align-items: flex-end;
    height: 10%;
    font-family: "roboto-regular-condensed";
    font-size: small;
    margin: 0;
}

#dynamic-container {
    margin: 0 auto;
    text-align: center;
    height: 50%;
    width: 100%;
}

#hobbie-card-title-container {
    align-items: center;
    height: 25%;
    gap: 1rem;
}

#hobbie-card-text-container {
    height: 75%;
}

#hobbie-card-text {
    padding: 0 1rem;
    color: slateblue;
    font-style: italic;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    height: 100%;
    margin: 0;
}

/* Estilos contenedor de imagen sección intereses */
#hobbie-image-container {
    width: 60%;
    height: 25.911rem;
}

#hobbie-figure-container {
    height: 25.911rem;
}

#hobbie-image {
    object-fit: cover;
    width: 44.9rem;
}

/* Estilos sección de contacto */
#iframe-contact-page {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

#contact {
    width: 100%;
    height: 43.9rem;
    overflow: hidden;
}

area {
    cursor: pointer;
}

#iframe-contact {
    width: 75rem;
    background-image: url("../img/contact-background.jpeg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#static-section {
    margin-bottom: 5rem;
}

#bootstrap-section {
    margin: 10vh 0 0 0;
    overflow: hidden;
}

/* Media Querys */
/* width: 1120px a 1319px */
@media(min-width:1120px) and (max-width: 1319px) {
    #home {
        width: 90%;
    }

    #home h2 {
        font-size: 4.3rem;
        padding: 0 1rem;
        width: 80%;
        height: 80%;
    }

    #home h1 {
        height: 20%;
        font-size: 1.1rem;
    }

    #work {
        width: 90%;
    }

    #work-title-container {
        height: 20%;
    }

    #work-projects-container {
        height: 80%;
    }

    #hobbies {
        padding: 8.79rem 0 1.0998rem 0;
        height: 34.061rem;
        width: 90%;
        flex-direction: column;
    }

    #hobbies-information-container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0;
        flex: 1;
    }

    #hobbies-introduction-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90%;
    }

    #hobbies-main-title-container {
        height: 25%;
    }

    #hobbies-main-title {
        justify-content: flex-start;
    }

    #hobbies-introduction-text-container {
        height: 55%;
    }

    #hobbies-introduction-text {
        font-size: 1rem;
    }

    #clue {
        margin: 0;
        padding: 0;
        align-items: flex-end;
    }

    #dynamic-container {
        display: none;
        margin: 0 auto;
        height: 100%;
        width: 60%;
        text-align: center;
    }

    #hobbie-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }

    #clue {
        font-size: small;
    }

    #iframe-contact {
        width: 90%;
    }
}

/* width: 820px a 1119 */
@media (min-width: 820px) and (max-width: 1119px) {
    #home {
        width: 100%;
        position: relative;
    }

    #home-presentation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    #home h1,
    #home h2 {
        text-align: center;
        width: 80%;
    }

    #home h2 {
        font-size: 4.3rem;
        padding: 0 1rem;
        max-width: 45%;
        height: 60%;
        box-sizing: border-box;
    }

    #home h1 {
        height: 20%;
        font-size: 1.1rem;
    }

    #diamonds-container-greeting {
        display: block;
    }

    #big-diamond-on-greeting {
        width: 150px;
        height: 150px;
        top: 35%;
        left: 85%;
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center
    }

    #medium-diamond-on-greeting {
        width: 100px;
        height: 100px;
        top: 60%;
        left: 10%;
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center
    }

    #small-diamond-on-greeting {
        width: 35px;
        height: 35px;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center;
    }

    #home-figure-container {
        display: none;
    }

    #work-projects-container {
        gap: 1rem;
        padding: 0;
    }

    .project-card {
        font-size: 0.9rem;
    }
    
    #work {
        width: 90%;
    }

    #work-title-container {
        height: 20%;
    }

    #work-projects-container {
        height: 80%;
    }

    #hobbies {
        width: 90%;
        height: 34rem;
        flex-direction: column;
        gap: 0;
    }

    #hobbies-information-container {
        display: flex;
        flex: 1;
        width: 100%;
        padding: 0;
    }

    #iframe-contact {
        align-items: center;
        justify-content: center;
    }

    #hobbies-introduction-container {
        height: 100%;
    }

    #hobbies-main-title-container {
        height: 25%;
    }

    #hobbies-introduction-text-container  {
        height: fit-content;
    }

    #hobbies-introduction-text {
        font-size: 0.9rem;
    }

    #clue {
        height: 15%;
        align-items: flex-end;
        font-size: x-small;
    }

    #dynamic-container {
        display: none;
        height: 100%;
        width: 80%;
        text-align: center;
    }

    #hobbie-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;

    }

    #iframe-contact {
        width: 90%;
    }
}

    @media (min-width: 820px) and (max-width: 819px) {
        #iframe-contact {
            width: 90%;
    }

    /* profe hasta aquí llego con las medias-qwery por que me cansé */
}