@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular-webfont.woff") format("woff"),
        url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 1.25rem;
}

.navbar-container {
    display: flex;
    height: 10vh;
    align-items: center;
    font-family: "roboto-regular"
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
}

li {
    margin: 0 3.5rem;
}

a {
    text-decoration: none;
}