@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular-webfont.woff") format("woff"),
        url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}

/* Estilos Navbar */
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    height: 10vh;
    align-items: center;
    font-family: "roboto-regular";
    font-size: 1.15rem;
}

.nav-links {

    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
}

li {

    margin: 0 3rem;
}

a {
    color: #1E201E;
    text-decoration: none;
}

/* Estilos sección home */
